<%- include('.././header/header'); %>
    <section class="c_section">
        <div class="c_section_container">
            <div class="c_title">
                jgjhhjbjh
            </div>
            <div class="body">

            </div>
            
        </div>
    </section>
    <%- include('.././footer/footer'); %>