
<%- include('../header/header'); %>
<%- include('../banner/hero'); %>
<button type="submit" id="payNowBtn" data-pay-for-name='<%= payForName %>' class="btn bg-btn-color text-white">Pay Now</button>
<%- include('../footer/footer'); %>
