
<%- include('../header/header'); %>
<%- include('../banner/hero'); %>
<button id="payNowBtn"  data-pay-for-name='<%= payForName %>' class="btn bg-btn-color text-white"><a href="/payment/paywithpaytm">Pay Now</a></button>
<%- include('../footer/footer'); %>
