<style>
    .platform-tab {
        background: linear-gradient(to right, #271f61, #cc0892);
        padding: 10px 27px 10px 27px;
        color: #fff;
        margin-top: 20px;

    }
</style>
<div class="platform-tab">
    <a href="/sbycc/registration" aria-disabled="true">SBY Coaching Classes <i class="fa fa-check"
            aria-hidden="true"></i></a>
</div>