/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body
{
  font-family: 'IBM Plex Sans', sans-serif;
}
:root {
  --lightblue: #f6f9fc;
  --red:#cc0892;
  --purple: #271f61;
  --white: #fff;

}

a,
a:hover {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.bg-lightblue {
  background: var(--lightblue);
}

.bg-btn-color {
  background-color: #007bff;
}

.text-purple {
  color: #271f61;
}

.container-fluid-max {
  max-width: 1440px;
}

.cover {
  background: no-repeat center/cover;
}

.p-15 {
  padding: 15px;
}

/* SCROLL ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.scroll .page-header {
  background: linear-gradient(to right, #cc0892, #271f61);
}

.scroll .hero {
  transform: scale(0.98);
}

/* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  background: linear-gradient(to right, #271f61, #cc0892)
}

.page-header .navbar {
  padding: 1rem 0;
}

.page-header .navbar-toggler {
  /* the variable is inherited from BS4 built-in variables */
  border-color: var(--white);
}

/* BANNER SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.1) 100%);
}

.hero .container-fluid {
  z-index: 10;
}

/* POPULAR DESTINATIONS SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.popular-destinations figure {
  margin-bottom: 30px;
}

.popular-destinations figcaption {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.popular-destinations img {
  filter: grayscale(100%) blur(3px);
  transition: transform 0.5s, filter 0.75s;
}

.popular-destinations a:hover img {
  transform: scale(1.25);
  filter: none;
}

/* PAGE FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer .footer-links {
  text-align: right;
}

/* MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* MEDIUM SCREENS */
@media screen and (max-width: 991px) {
  .page-header {
    background: linear-gradient(to right, #271f61, #cc0892)
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 767px) {
  .page-footer .footer-child {
    text-align: center;
  }
}

/* new css */

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
  z-index: 1;
}

#welcomeText {
  height: 70px;
  font-size: 24px;
}
#payNowBtn
{
  position: absolute;
  top: 64%;
  width: 135px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.pay-now-container
{
  position: relative;
}
.form-style
{
  margin-top: 100px;
  margin-bottom: 70px;
}
.form-style form
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section
{
  margin-top: 100px;
}
.registration-popup .modal
{


}
.registration-popup .modal .modal-dialog
{
  width: 300px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: linear-gradient(to right, #271f61, #cc0892);
  position: relative;
  color: #fff !important;
}
.footer-cta {
  border-bottom: 1px solid #fff;
}
.single-cta i {
  color: #fff;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
  color: #fff;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
  color: #fff;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
 
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #fff;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #fff;
}
.footer-widget ul li a {
 
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  color: #271f61;
  border: none;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background:#271f61;
    border: none;
    padding: 14px 28px;
    top: 0px;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #271f61;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  
}
.copyright-text p a{
  color: #fff;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #cc0892;
}
.footer-menu li a {
  font-size: 14px;
 
}
.single-cta
{
  display: flex;
  margin-bottom: 14px;
}
@media only screen and (max-width: 600px) {
.course1
{
font-size: 9px;
}
.area-serve-tag{
  width: 165px !important;
  }
}
.visit-container
{
text-align: center;
margin: 0 auto;
}
.area-serve-tag-container{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.area-serve-tag{
  width: 200px;
    margin: 10px 0.5em;
    padding: 0.5em;
    background: linear-gradient(-135deg, #008ed9, #8b00db);
    align-items: center;
    color: var(--white);
}

/* .area-serve-tag:hover
{
  background: rgba(255,255,255,0.5);
 
  cursor: pointer;
} */