<%- include('../../header/header'); %>
    <style>
        .registration-start {
            margin-top: 70px;
        }

        .reg-start-container {
            display: flex;
            justify-content: space-evenly;
            padding: 69px;
            flex-wrap: wrap;
        }
    </style>
    <section class="registration-start">
        <div class="reg-start-container">
            <%- include('../../components/sbycc-reg-link'); %>
            <%- include('../../components/dtct-reg-link'); %>
        </div>
    </section>

    <%- include('../../footer/footer'); %>