<style>
 .responsive-map{
overflow: hidden;
padding-bottom:56.25%;
position:relative;
height:0;
width: 90%;
margin: 0 auto;
margin-bottom: 60px;

}
.responsive-map iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
</style>
<div class="text-center text-red mb-5">
<h4>Location</h4>
</div>
<div class="responsive-map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.180408615059!2d83.85930627453556!3d26.060359796201443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399239225d5942a1%3A0xe0d3bd23091b112d!2sSBY%20Coaching%20Classes%20(Powered%20by%20DoTheCode%20Technologies)!5e0!3m2!1sen!2sin!4v1687374862909!5m2!1sen!2sin"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>