<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- include('../text/title'); %></title>
    <%- include('../head/header-script'); %>
    <%- include('../head/header-style'); %>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/marquee.css">
    <link rel="stylesheet" href="css/mega.css">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="72" class="position-relative">
  <%- include('nav'); %>
