
<header class="fixed-top page-header">
    <div class="container-fluid container-fluid-max">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">DoTheCode Technologies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-lg-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                          Course
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <div class="mega-scroll">
                              <div class="row">
                                <div class="col-md-4">
                                  <ul class="nav flex-column">
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><b>DTCT-C201</b> <span>Basic Computer Course
                                        (BCC)</span></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><b>DTCT-C202</b> <span>Computer Common Course
                                        (CCC | Triple C)</span></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><b>DTCT-C203</b> <span>Diploma In Computer
                                        Applications (DCA)</span></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><b>DTCT-C204</b> <span>Advance Diploma In Computer
                                        Applications (ADCA)</span> </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><b>DTCT-C205</b> <span>Honours Diploma In Computer
                                        Applications (HDCA)</span> </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><b>DTCT-C206</b> <span>Honours Advance Diploma In
                                        Computer
                                        Applications (HADCA)</span></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><b>DTCT-C207</b> <span>Diploma In Office
                                        Management (DOM)</span></a>
                                  </li>
                                 
                                </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><b>DTCT-C208</b> <span>Diploma In Website Design
                                                (DWD)</span> </a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#"><b>DTCT-C209</b> <span>Diploma In Programming
                                                Applications (DPA)</span></a>
                                          </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C210</b> <span>Diploma in Computer Networking (DCN)</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C211</b> <span>Diploma in Computer Hardware
                                              (DCH)</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C212</b> <span> Diploma In Computer
                                              Applications & Training (DCAT)</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C213</b> <span>Master Diploma In Computer
                                            Applications & Training (MDCAT)</span></span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C214</b> <span>Advance Diploma In Computer
                                            Hardware & Networking (ADCHN)</span> </a>
                                        </li>
                                      </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C215</b> <span>Advance Diploma in Inforomation Technology
                                              (ADIT)</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C216</b> <span>Honours Diploma in Inforomation Technology (HDIT)</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C217</b> <span>Honours Diploma In Advanced
                                              Programming (HDAP)</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C218</b> <span>Diploma In Computer
                                              Applications & Designing (DCAD)</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C219</b> <span>Diploma In Computer
                                              Applications & Accounting (DCAA)</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-C220</b> <span>Diploma In Financial
                                              Accounting (DFA)</span></a>
                                        </li>
                                         
                                      </ul>
                  
                                </div>
                                <!-- /.col-md-4  -->
                              </div>
                            </div>
                            <!--  /.container  -->
                  
                  
                          </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                          Software
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <div class="mega-scroll" id="mega-id">
                              <div class="row">
                                <div class="col-md-4">
                                  <ul class="nav flex-column">
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><b>DTCT-S301</b> <span>Basic Programming Language</span></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><b>DTCT-S302</b> <span>C Language</span></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><b>DTCT-S303</b> <span>JavScript</span></a>
                                  </li>
                                 
                                  
                                </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><b>DTCT-S304</b> <span>NodeJS</span> </a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#"><b>DTCT-S305</b> <span>HTML+CSS</span></a>
                                          </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-S306</b> <span>Java</span></a>
                                        </li>                
                                      </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-S307</b> <span>PHP</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-S308</b> <span>Web Development</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#"><b>DTCT-S309</b> <span>Project</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><b>DTCT-S310</b> <span>Hosting</span></a>
                                          </li>
                                      </ul>
                  
                                </div>
                                <!-- /.col-md-4  -->
                              </div>
                            </div>
                            <!--  /.container  -->
                  
                  
                          </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/payment">Payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/career">Career</a>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    </li>
                </ul>
                <div class="text-white">
                    <!-- <a href="tel:9960922747" class="mr-2">
                        <i class="fas fa-phone"></i>
                        <div class="d-none d-xl-inline">9960922747</div>
                    </a> -->
                    <a href="mailto:dothecode1@gmail.com">
                        <i class="fas fa-envelope"></i>
                        <div class="d-none d-xl-inline">dothecode1@gmail.com</div>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>