<section id="home" class="d-flex align-items-center position-relative vh-100 cover hero"
    style="background-image:url(./assets/pexels-designecologist-1779487.jpg);">
    <div class="hero-banner">
        <div class="hero-heading">
            <p class="text-white" id="welcomeText">Welcome to DoTheCode Digital India</p>
        </div>
        <div class="hero-btn">
            <a class="btn bg-btn-color text-white mr-2" href="/registration" role="button">Registration Open</a>
            <a class="btn bg-btn-color text-white" href="" role="button">Visit Now</a>
        </div>
    </div>
    <!-- <%- include('../marketing/slot/notice'); %> -->
    <%- include('../marketing/courses/top-marquee'); %>
</section>