<section id="popular-destinations" class="popular-destinations py-5">
    <div class="container-fluid container-fluid-max">
      <div class="row">
        <div class="col-12">
          <h2 class="pb-3 text-red">Trending Courses</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <a href="" class="text-white">
            <figure class="position-relative overflow-hidden">
              <img class="img-fluid" src="assets/pexels-photo-356056.jpg" alt="Vienna">
              <figcaption class="d-flex align-items-center justify-content-center position-absolute">
                <h3>Phtoshop</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <a href="" class="text-white">
            <figure class="position-relative overflow-hidden">
              <img class="img-fluid" src="assets/pexels-photo-356056.jpg" alt="Edinburgh">
              <figcaption class="d-flex align-items-center justify-content-center position-absolute">
                <h3>Tally</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <a href="" class="text-white">
            <figure class="position-relative overflow-hidden">
              <img class="img-fluid" src="assets/pexels-photo-356056.jpg" alt="New York">
              <figcaption class="d-flex align-items-center justify-content-center position-absolute">
                <h3>Web development</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-12 col-sm-6">
          <a href="" class="text-white">
            <figure class="position-relative overflow-hidden">
              <img class="img-fluid" src="assets/pexels-photo-356056.jpg" alt="Porto">
              <figcaption class="d-flex align-items-center justify-content-center position-absolute">
                <h3>Accounting</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-12 col-md-6">
          <a href="" class="text-white">
            <figure class="position-relative overflow-hidden">
              <img class="img-fluid" src="assets/pexels-photo-356056.jpg" alt="Manarola">
              <figcaption class="d-flex align-items-center justify-content-center position-absolute">
                <h3>Coral Draw</h3>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </section>